{% extends "mail/layout.html" %}

{% block body %}
<div class="margin border padding">

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class=" padding margin">
        {% csrf_token %}
        <div >
            <input class="form-input text" type="email" name="email" placeholder="Email Address">
        </div>
        <div >
            <input class="form-input text" type="password" name="password" placeholder="Password">
        </div>
        <div >
            <input class="form-input text" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
    
    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    
</div>
    {% endblock %}